# Compilation files
*.o
*.out
*.exe
*.pdb

# IDE configuration folders
.vscode/
.idea/
.vs/

# Temporary files or logs
*.log
*.tmp

# Build folders
/build/
/Release/
/EngineFo.a73380ba/

# Library files
*.lib
*.dll

# Internal management files and folders
FFTW_CPP/
*.xlsx
*.txt